/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Arcadia-Science/noveltree AWS Batch config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuration for running on AWS Batch
----------------------------------------------------------------------------------------
*/

// Set process executor and queue
process {
    executor = 'awsbatch'
    queue = params.awsqueue
}

// AWS configuration
aws {
    region = params.awsregion
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

// Enable Docker for AWS Batch
docker {
    enabled = true
}

// AWS Batch executor settings
executor {
    name = 'awsbatch'
    queueSize = 1000
}

// Enable pipeline resumption by allowing report overwrites
timeline.overwrite = true
report.overwrite = true
trace.overwrite = true
dag.overwrite = true
