/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    if (params.msa_trimmer == 'cialign') {
        withName: 'CIALIGN' {
            ext.args = [
                '--crop_divergent_min_prop_ident=0.25',
                '--crop_divergent_min_prop_nongap=0.25',
                '--crop_ends',
                '--remove_insertions',
                '--insertion_min_size=5',
                '--insertion_max_size=200',
                '--remove_divergent',
                '--remove_divergent_minperc=0.15'
            ].join(' ')
        }
    }
    withName: 'DIAMOND_BLASTP' {
        ext.args = [
            '--ultra-sensitive'
        ].join(' ') 
    }
    if (params.aligner != 'witch') {
        withName: 'MAFFT' {
            ext.args = [
                '--localpair',
                '--maxiterate 1000',
                '--anysymbol'
            ].join(' ') 
        }
    }
    if (params.tree_method == 'fasttree') {
        withName: 'FASTTREE' {
            ext.args = [
                '-lg',
                '-cat 20',
                '-gamma',
                '-sprlength 50',
                '-mlacc 3',
                '-topm 2',
                '-bionj'
            ].join(' ')
        }
    }
    withName: 'SPECIESRAX' {
        ext.args = [
            '--rec-model UndatedDTL',
            '--si-strategy SKIP', 
            '--si-quartet-support'
        ].join(' ') 
    }
    withName: 'GENERAX_PER_FAMILY' {
        ext.args = [
            '--rec-model UndatedDTL',
            '--strategy SPR'
        ].join(' ') 
    }
    withName: 'GENERAX_PER_SPECIES' {
        ext.args = [
            '--rec-model UndatedDTL',
            '--strategy SPR'
        ].join(' ') 
    }
    withName: 'ASTEROID' {
        ext.args = [
            '--random-starting-trees 10',
            '--bs-replicates 100'
        ].join(' ') 
    }
}
